process.container = "/software/pathogen/images/metawrap_custom-1.3.2-c11.simg"

params {
    queue_size = 50
    submit_rate_limit = '50/2min'
    results_dir = "./nextflow_results"
    manifest = ""
    skip_qc = false
    fastspades = false
    keep_allbins = false
    skip_reassembly = false
    keep_assembly = false
    keep_assembly_files = false
    keep_binning = false
    keep_bin_refinement = false
    keep_reassembly = false
    keep_metawrap_qc = false
    help = false
}


profiles {

    standard {
        docker {
            enabled = true
        }
    }
    // Sanger local configuration for testing
    sanger_local {

        docker {
            enabled = false
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "$PWD"
            runOptions = "--bind /lustre,/nfs,/software,/data"
        }

        process {
            errorStrategy = {task.attempt <= 2 ? "retry" : "terminate"}
            maxRetries = 1
            executor = "local"
        }
    }

    // Basic configuration for Nextflow LSF management on the Sanger farm.
    sanger_lsf {

        docker {
            enabled = false
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "$PWD"
            runOptions = "--bind /lustre,/nfs,/software,/data"
        }

        process {
            cpus = 1
            memory = "2GB"
            queue = "normal"
            errorStrategy = {task.attempt <= 2 ? "retry" : "terminate"}
            maxRetries = 1

            withName:metawrap_qc {
                cpus = 1
                memory = 20.GB
                queue = { task.attempt < 2 ? "normal" : "long" }
                executor = "lsf"
            }

            withName:assembly {
                cpus = 4
                memory = 100.GB
                queue = { task.attempt < 2 ? "normal" : "long" }
                executor = "lsf"
            }

            withName:binning {
                cpus = 1
                memory = 8.GB
                queue = "normal"
                executor = "lsf"
            }

            withName:bin_refinement {
                cpus = 4
                memory = 100.GB
                queue = { task.attempt < 2 ? "normal" : "long" }
                executor = "lsf"
            }

            withName:reassemble_bins {
                cpus = 4
                memory = 100.GB
                queue = { task.attempt < 2 ? "normal" : "long" }
                executor = "lsf"
            }
        }
        executor {
            name = "lsf"
            perJobMemLimit = true
            // Maximum number of jobs to spawn at once - adjust as necessary
            queueSize = params.queue_size
            submitRateLimit = params.submit_rate_limit
            jobName = { "generate_mags - $task.name - $task.hash" }
            pollInterval = "5 sec"
        }
    }
}
