process.container = "/software/pathogen/images/metawrap_custom-1.3.2-c11.simg"

params {
    queue_size = 50
    submit_rate_limit = '50/2min'
    results_dir = "./nextflow_results"
    manifest = ""
    bmtagger_db = "/data/pam/software/BMTAGGER_INDEX"
    bmtagger_host = "T2T-CHM13v2.0"
    publish_host_reads = false
    skip_qc = false
    fastspades = false
    keep_allbins = false
    skip_reassembly = false
    keep_assembly = false
    keep_assembly_files = false
    keep_binning = false
    keep_bin_refinement = false
    keep_reassembly = false
    keep_metawrap_qc = false
    help = false
}


profiles {

    // Sanger local configuration for testing
    sanger_local {

        docker {
            enabled = false
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "$PWD"
            runOptions = "--bind /lustre,/nfs,/software,/data"
        }

        process {
            errorStrategy = {task.attempt <= 2 ? "retry" : "terminate"}
            maxRetries = 1
            executor = "local"
        }
    }

    // Basic configuration for Nextflow LSF management on the Sanger farm.
    standard {

        docker {
            enabled = false
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "$PWD"
            runOptions = "--bind /lustre,/nfs,/software,/data"
        }

        process {
            cpus = 1
            memory = "2GB"
            queue = "normal"
            errorStrategy = {task.attempt <= 2 ? "retry" : "terminate"}
            maxRetries = 1

            withName:ASSEMBLY {
                cpus = 4
                memory = 100.GB
                queue = { task.attempt < 2 ? "normal" : "long" }
                executor = "lsf"
            }

            withName:BINNING {
                cpus = 1
                memory = 8.GB
                queue = "normal"
                executor = "lsf"
            }

            withName:BIN_REFINEMENT {
                cpus = 4
                memory = 100.GB
                queue = { task.attempt < 2 ? "normal" : "long" }
                executor = "lsf"
            }

            withName:REASSEMBLE_BINS {
                cpus = 4
                memory = 100.GB
                queue = { task.attempt < 2 ? "normal" : "long" }
                executor = "lsf"
            }

            withName:FILTER_HOST_READS {
                queue = "normal"
                memory = { 1.GB * task.attempt }
                executor = "lsf"
            }

            withName:GET_HOST_READS {
                queue = "normal"
                memory = { 1.GB * task.attempt }
                executor = "lsf"
            }

            withName:GENERATE_STATS {
                queue = "normal"
                memory = { 1.GB * task.attempt }
                executor = "lsf"
            }

            withName:TRIMGALORE {
                queue = "normal"
                memory = { 1.GB * task.attempt }
                errorStrategy = {task.attempt <= 3 ? "retry" : "terminate"}
                executor = "lsf"
            }

            withName:COLLATE_STATS {
                queue = "normal"
                memory = { 1.GB * task.attempt }
                executor = "lsf"
            }

            withName:BMTAGGER {
                queue = { task.attempt < 2 ? "normal" : "long" }
                memory = { 10.GB * task.attempt }
                errorStrategy = {task.attempt <= 4 ? "retry" : "terminate"}
                executor = "lsf"
            }

        }
        executor {
            name = "lsf"
            perJobMemLimit = true
            // Maximum number of jobs to spawn at once - adjust as necessary
            queueSize = params.queue_size
            submitRateLimit = params.submit_rate_limit
            jobName = { "generate_mags - $task.name - $task.hash" }
            pollInterval = "5 sec"
        }
    }
}
