// Config inheritance options
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "master"
    generic_config_url = ""
}
//inherit_generic_config()

includeConfig("/home/ubuntu/generate_mags/local_config")

manifest {
    name            = 'generate_mags'
    author          = 'PAM Informatics'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/sanger-pathogens/pipelines/team162/generate_mags'
    description     = 'Generate metagenomic assembled genomes (MAGs) using metaWRAP'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = 'v0.3.4'
}

includeConfig("./assorted-sub-workflows/mixed_input/mixed_input.config")

params {
    outdir = "./results"
    
    //TODO: Using Sanger-specific paths limits portability, but short of reimplementing the whole generic profile,
    // don't know what can be done about this... -> see with AWS OpenData to host public assets
    bmtagger_db = "/data/pam/software/BMTAGGER_INDEX"
    bmtagger_host = "T2T-CHM13v2.0"

    scrubber_db = "/home/ubuntu/generate_mags/db/scrubber/"
    scrubber_version = null

    metaspades = true
    megahit = true

    // skip processes
    qc = "scrubber"
    skip_reassembly = false

    //split
    split_process = false
    min_contig = 1000
    maxbin_markers = 140

    // spades options
    fastspades = false
    lock_phred = false

    // publish extra files
    keep_allbins = false // from bin_refinement step
    keep_assembly = false
    keep_binning = false
    keep_reassembly = false
    keep_metawrap_qc = false
    publish_host_reads = false
    
    // clean up work/ subfolders
    cleanup_assembly = true
    cleanup_binning = true
    cleanup_bin_refinement = true
    cleanup_reassembly = true
    cleanup_metawrap_qc = true

    // LSF options
    queue_size = 50
    submit_rate_limit = '50/2min'
    monochrome_logs = false
    
    // Changes from defaults
    short_metacsv_name = true
}

// Helper functions
def inherit_generic_config() {
    config_url = params.generic_config_url ? params.generic_config_url : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    try {
        includeConfig "${config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}
